   *{
     margin:0;
     padding:0;
     font-family: sans-serif;
   }
   body{
     background: #a78b;
     display:flex;
     justify-content: centre;
     padding:20px;
   }
    .app-container{
      padding:20px;
      justify-items: centre;
      display:flex;
      align-items: centre;
      margin-up:20px;
      max-width:380px;
      background-color: #ffffff;
      box-shadow: 0 4px 15px rgba(0,0,0,0.08);
      font-size:16px;
      width:100%;
    }

label{
      font-weight:bold;
      text-align:left;
      font-size:14px;
    }
    input{
      padding:8px;
      border-radius:8px;
      width:100%;
      border:1px solid #cccccc;
      box-sizing:border-box;
      margin-bottom: 10px;
    }
    select{
      padding:8px;
      border-radius:8px;
      width:100%;
      border:1px solid #cccccc;
      box-sizing:border-box;
      margin-bottom: 10px;
    }
    #convertBtn{
      background-color:#ffb7c5;
      border-radius:20px;
      border:none;
      padding:18px;
      font-weight:bold;
      cursor:pointer;
      color:#333333;
      gap:12px;
      margin-top:16px;
      width:100%;
      box-sizing:border-box;
    }
    #resultDisplay{
      font-size:18px;
      font-weight:bold;
      margin-top:10px;
    }
