@import url('[https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap](https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap)');
*{
     margin:0;
     padding: 15px;
     font-family:Outfit;
   }
body{
  background-color: #847EA6;
  color:#ffffff;
  display:flex;
  align-items: center;
  margin-top: 10px;
}
.card-front{
  box-shadow: #aeadca;
  padding: 26px;
  background: #CCCBE7;
  border-radius:10px;
  width:200px;
  height:200px;
}
  
