@import url('[https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap](https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap)');
*{
     margin:0;
     padding: 15px;
     font-family:Outfit;
   }
body{
  background-color: #847EA6;
  color:#ffffff;
  display:flex;
  align-items: center;
  margin-top: 10px;
}
.card-front{
  box-shadow: #aeadca;
  padding: 26px;
  background: #CCCBE7;
  border-radius:10px;
  width:200px;
  height:200px;
position:absolute;
backface-visibility:hidden;
}
.card-back{
  padding: 26px;
  background: #CCCBE7;
  border-radius:10px;
  width:200px;
  height:200px;
  box-shadow:#FFD93D;
     position:absolute;
   backface-visibility:hidden;
}
#controlButtons{
  background-color:#A78BFA;
  color:#ffffff;
  border-radius:20px;
  border:none;
  width:100%;
  cursor: pointer;
  font-weight: bold;
  padding:16px;
}
  .card-back{
  padding: 26px;
  background: #CCCBE7;
  border-radius:10px;
  width:200px;
  height:200px;
  box-shadow:#FFD93D;
  }
.nav-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.nav-btn {
    background-color: #AEADCA;
    color: #ffffff;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 12px 6px;
   flex:1;
}
input{
  box-sizing:border-box;
  width:100%;
  color:#847EA6;
  padding-right: 16px;
  padding-bottom:12px;
  padding-left: 16px;
  padding-top: 12px;
  border: 2px solid#AEADCA;
  border-radius:10px;  
  gap:10px;
  margin-bottom: 12px;
}
.card-btn{
  box-sizing:border-box;
  width:100%;
  color:#ffffff;
  padding-right: 16px;
  padding-bottom:12px;
  padding-left: 16px;
  padding-top: 12px;
  border: 2px solid#AEADCA;
  border-radius:10px;  
  gap:10px;
  font-weight: bold;
  color:#8E73E6;
}
#flashcard 
{
transform-style: preserve-3d;
transition:transform 0.6s ease;
}


  


  
