     body{
           background: grey;
           backdrop-filter:gold;
           margin: 20px;
           padding: 50px;
           font-family:'Aerial',Sans-Serif;
           background: linear-gradient(135deg,#FF9A 0%,#00f2 50%,#A1C4FD 50%);
             background-attachment: fixed; /* 🌟 This makes the gradient stretch smoothly without breaking! */

           table,th,td{
           font-weight: bold;
           text-align: left;
           color: #000000;
           border:2px solid#0066cc;
           padding:12px;
           border-collapse: collapse ;
           }
           table{
             width:100%;
             font-weight: bold;
           }
           .grey-row{
             background: linear-gradient(to right, #d1d5db,#e5e7eb);
           }
           
            
           
           
     
     